.ul1{
    list-style: none;
}
.ul2 li{
    list-style: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: 1pt;
    border-style: solid;
    
}
.ul2 li:hover{
    background-color: black;
}
label{
    margin-left: 4.5%;
}
.div1{
    border: 3pt;
    border-style: solid;
    padding: 15px;
    border: hidden;
    background-color: #003333;
    color: palegreen;
    width: 70%;
    margin: auto;
    border-radius: 1%;
}
.div2{
    width: 10%;
    border: 1pt;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    background-color: #006666;
}
.div3{
    width: 10%;
    border: 1pt;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    background-color: #006666;
}
.div4{
    width: 10%;
    border: 1pt;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    background-color: #006666;
}
.div5{
    width: 23%;
    border: 1pt;
    border-style: solid;
    text-align: center;
    padding: 8px;
    background-color: #003333;
    color: white;
    font-size: 17pt;
    border-radius: 4%;
    float: right;
    margin-bottom: 10%;
}
body{
    background-image: linear-gradient(to bottom right, green, white, yellow);
}