<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SHANEEN</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam amet, dignissimos doloremque sed labore sapiente ratione nesciunt vel obcaecati qui natus quis molestias voluptatum repellat voluptates temporibus. Eius, quae laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate pariatur fugiat dolor libero expedita sit, unde sunt recusandae natus mollitia quibusdam repellendus quia vero vitae eligendi ipsum ullam magnam
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ab voluptatum doloribus iure molestiae voluptas provident repellendus vel omnis pariatur optio officiis tempora odit non dolore ipsa, aspernatur tenetur deleniti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ut illo velit nobis porro. Praesentium sint nemo eum soluta, quam excepturi consequatur quis eligendi blanditiis, harum numquam tenetur non eaque. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores omnis dicta esse ab voluptates libero! Odit aperiam ut in est, aspernatur, veritatis ab sint sunt debitis autem, unde at. Enim beatae laudantium maxime deserunt vel soluta commodi et quo nam ex, nihil dolorum sint repellat quibusdam ab voluptate qui consequatur!</p>
        <img src="/Images/luxury-pet-market-booms-in-china.jpg" alt="luxury dog">
</body>
</html>