<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <p>Ends in 31</p>
        <li> January</li>
        <li>March</li>
        <li>May</li>
        <li>July</li>
        <li>August</li>
        <li>October</li>
        <li>December</li>
    </ul>
    <ul>
        <p>Doesn't end in 31</p>
        <li>September</li>
        <li>April</li>
        <li>June</li>
        <li>November</li>
    </ul>
</body>
</html>