*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background: black;
    height: 70px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: larger;
}
nav ul{
    float:left;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 12px;
    padding: ;
    
}
nav ul li a{
    color: white;
}
a.active, a:hover{
    background:palegreen;
}
td{
    text-align: center;
}
#home{
    color: palegreen;
}
h1,p{
    text-align:center;
    margin-bottom: 80px;
    margin-top: 80px;
}
h1{
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
#pinkp{
    color: #FFC0C7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 23px;
}
.blurb{
    text-align: left;
    line-height: 0.5;
    margin: 45px;
    text-align: left;
    position: relative; left :0px;
}
table{
    position: relative; left: 200px;
}
        
        
        
        
        
        
        
        
        
        
        
        .blue{
            color: blue;
        }
        #burly{
            background-color: burlywood;
        }
        #black{
            background-color: black;
        }
